.nav {
	background-color:#47476b;
	overflow: hidden;
}
.nav ul{
	display: inline;
	float: right;
	padding-right: 25px;


}

.nav li{
	display: inline;
	font-size: 25px;
	font-family: 'Brandon Grotesque', 'Proxima Nova', Helvetica, sans-serif;
	padding: 0 10px;
	color: #ffe6e6;
	border: 1px solid #ffe6e6;
	margin: 5px;

}

.nav a{
	text-decoration: none;
	color:#ffe6e6;
}

body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #8585ad;
}

.main {
	padding: 100px 0;
	margin: 30px;
	font-family: 'Brandon Grotesque', 'Proxima Nova', Helvetica, sans-serif;
	font-size: 56px;
	background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
	background-size: cover;
	border: 5px solid #ffe6e6;

}

.main h1{
	color: #ffcccc;
}

.main p{
	color: #ffffff;
}

.footer {
	font-family:'Proxima Nova', Helvetica, sans-serif;
	font-size:15px;
	color: #FFF;

}
